body {
    margin: 0;
}

html,
body,
#root {
    height: 100%;
}

.MuiList-root {
    max-width: 100% !important;
}

.title {
    font-weight: bolder;
    font-size: 40px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.config-list-item-input {
    display: flex;
    justify-content: flex-end;
    padding-right: 6px;
}

.config-list-item-input .MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl {
    /* padding-right: 4px; */
    /* line-height: 20px; */
}
/* 覆盖ConfigListItem下面的输入框文字大小 */
.config-list-item-input .MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl > input {
    font-size: 12px;
    text-align: right;
    padding-right: 4px;
}
.config-list-item-input .MuiSelect-select.MuiSelect-standard.MuiInput-input.MuiInputBase-input.MuiInputBase-inputSizeSmall {
    padding-top: 3px;
    padding-bottom: 3px;
}
/* 覆盖ConfigListItem下面的下划线的select样式 */
.config-list-item-input .MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl:before {
    border: none;
}
.config-list-item-input .MuiFormControl-root  {
    /* padding-right: 4px; */
}


/* @media screen and (min-width:600px) {
    .config-list-item-input {
        min-width: 160px;
    }
} */
